{% set homeName = site.name %}
{% set homeUrl = site.link %}
{% set homeDescription = fn('get_AlQasrGroup_site_description', 'ar') %}
{% set PostDescription = post.excerpt ? post.excerpt.length(50).read_more(false) : (post.content ? post.content|striptags|slice(0, 150) ~ '...' : '') %}
{% set hero_bg = function('get_option','hero_bg_image') %}
{% set site_logo = function('get_option','AlQasrGroup_site_logo') ?: function('get_option','AlQasrGroup_site_logo_medium') ?: fn('asset_url', 'logo.png', 'img/') %}

{% set thumbnail =
fn('is_home') or fn('is_front_page') ? hero_bg :
fn('is_post_type_archive','blog') ? (blog_background_image ?: hero_bg) :
fn('is_post_type_archive','projects') ? (projects_background_image ?: hero_bg) :
fn('is_post_type_archive','jobs') ? (jobs_highlight_image ?: hero_bg) :
fn('is_page') and post.post_name == 'about' ? (about_hero_background ?: hero_bg) :
fn('is_page') and post.post_name == 'contact_us' ? (contact_background_image ?: hero_bg) :
post.post_type == 'page' ? hero_bg :
fn('is_singular') ? post.thumbnail.src :
post.thumbnail.src
%}

{% set mainTitle = post.title %}

{% set Title =
fn('is_post_type_archive','blog') ? (blog_hero_title ?: 'المدونة') :
fn('is_post_type_archive','projects') ? (projects_hero_title ?: 'مشاريعنا') :
fn('is_post_type_archive','jobs') ? (jobs_main_title ?: 'الوظائف') :
fn('is_page') and post.post_name == 'about' ? (about_hero_title ?: 'من نحن - ' ~ homeName) :
fn('is_page') and post.post_name == 'contact_us' ? 'اتصل بنا - ' ~ homeName :
fn('is_page') and post.post_name == 'product' ? 'منتجاتنا - ' ~ homeName :
fn('is_home') or fn('is_front_page') ? fn('get_AlQasrGroup_site_title', 'ar') :
fn('is_singular') ? mainTitle :
fn('is_search') ? search_query :
fn('is_404') ? "404 - الصفحة غير موجودة: " ~ homeName : homeName
%}

{% set Description =
fn('is_post_type_archive','blog') ? (blog_hero_description ?: fn('get_AlQasrGroup_site_description', 'ar')) :
fn('is_post_type_archive','projects') ? (projects_hero_description ?: fn('get_AlQasrGroup_site_description', 'ar')) :
fn('is_post_type_archive','jobs') ? (jobs_main_description ?: fn('get_AlQasrGroup_site_description', 'ar')) :
fn('is_singular') and post.post_type == 'projects' ? (projects_excerpt ?: (PostDescription and PostDescription|trim != '') ? PostDescription : homeDescription) :
fn('is_page') and post.post_name == 'about' ? (about_hero_description ?: fn('get_AlQasrGroup_site_description', 'ar')) :
fn('is_page') and post.post_name == 'contact_us' ? fn('get_AlQasrGroup_site_description', 'ar') :
fn('is_home') or fn('is_front_page') ? fn('get_AlQasrGroup_site_description', 'ar') :
(PostDescription and PostDescription|trim != '') ? PostDescription : homeDescription
%}

<!-- علامات SEO   -->

<!-- المعلومات الأساسية -->
<meta charset='UTF-8'>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
<meta http-equiv='X-UA-Compatible' content='IE=edge'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<meta property='og:locale' content='ar_AR' />
<meta property='og:type' content='website' />
<meta property='og:site_name' content='{{homeName}}' />
<meta itemprop='name' content='{{homeName}}'/>
<meta content='unsafe-url' name='referrer'/>
<meta content='true' name='MSSmartTagsPreventParsing'/>

{% if not fn('is_search') %}
<meta content='index, follow' name='googlebot'/>
<meta content='follow, all' name='Googlebot-Image'/>
<meta content='follow, all' name='msnbot'/>
<meta content='follow, all' name='Slurp'/>
<meta content='follow, all' name='ZyBorg'/>
<meta content='follow, all' name='Scooter'/>
<meta content='telephone=no,date=no,address=no,email=no,url=no' name='format-detection'/>
<meta content='index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1' name='googlebot'/>
{% endif %}

<!-- أيقونة الموقع -->
{% set site_icon = fn('get_site_icon_url') %}
<link rel="icon" href="{{ site_icon ?: fn('asset_url', 'logo.svg', 'img/') }}">

<!-- الرابط الأساسي -->
<meta content='{{ current_url }}' property='og:url'/>
<link href='{{ current_url }}' rel='canonical'/>
<meta itemprop='url' content='{{ current_url }}'/>

<!-- Twitter Graph -->
<meta content='{{ Title }}' name='twitter:title'/>
<meta content='{{ Description }}' name='twitter:description' property='og:description' itemprop='description'/>
<meta name='twitter:card' content='summary_large_image' />
<meta name='twitter:image' content='{{ thumbnail }}' />

<!-- الصورة المميزة -->
<meta content='{{ thumbnail }}' property='og:image'/>
<meta content='1200' property='og:image:width'/>
<meta content='630' property='og:image:height'/>
<meta property='og:image:alt' content='{{ Description }}' />
<meta property='og:image:secure_url' content='{{ thumbnail }}' />
<link href='{{ thumbnail }}' rel='image_src'/>

<!-- الوصف -->
<meta content='{{ Description }}' property='og:description'/>
<meta content='{{ Description }}' name='description'/>
<!-- العنوان -->
<meta content='{{ Title }}' property='og:title'/>

<title>{{ Title }}</title>

{% if fn('is_home') or fn('is_front_page') %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "url": "{{homeUrl}}",
  "name": "{{homeName}}",
  "description": "{{homeDescription}}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "{{homeUrl}}?s={search_term_string}",
    "query-input": "required name=search_term_string"
  }
}
</script>
{% endif %}

{% if fn('is_post_type_archive','blog') %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Blog",
  "name": "{{Title}}",
  "description": "{{Description}}",
  "url": "{{current_url}}"
}
</script>
{% endif %}

{% if fn('is_singular') and post.post_type == 'blog' %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "headline": "{{Title}}",
  "description": "{{Description}}",
  "author": {
    "@type": "Organization",
    "name": "{{homeName}}"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{homeName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_logo }}"
    }
  },
  "datePublished": "{{post.date}}",
  "dateModified": "{{post.modified}}",
  "image": "{{thumbnail}}",
  "url": "{{current_url}}"
}
</script>
{% endif %}

{% if fn('is_page') and post.post_name == 'about' %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "AboutPage",
  "name": "{{post.title}}",
  "description": "{{Description}}",
  "url": "{{current_url}}",
  "publisher": {
    "@type": "Organization",
    "name": "{{homeName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_logo }}"
    }
  }
}
</script>
{% endif %}

{% if fn('is_page') and post.post_name == 'contact_us' %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "ContactPage",
  "name": "{{post.title}}",
  "description": "{{Description}}",
  "url": "{{current_url}}",
  "publisher": {
    "@type": "Organization",
    "name": "{{homeName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_logo }}"
    }
  }
}
</script>
{% endif %}



{% if fn('is_post_type_archive','projects') %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  "name": "{{Title}}",
  "description": "{{Description}}",
  "url": "{{current_url}}",
  "publisher": {
    "@type": "Organization",
    "name": "{{homeName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_logo }}"
    }
  }
}
</script>
{% endif %}

{% if fn('is_post_type_archive','jobs') %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CollectionPage",
  "name": "{{Title}}",
  "description": "{{Description}}",
  "url": "{{current_url}}",
  "publisher": {
    "@type": "Organization",
    "name": "{{homeName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_logo }}"
    }
  }
}
</script>
{% endif %}

{% if fn('is_singular') and post.post_type == 'jobs' %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "JobPosting",
  "title": "{{Title}}",
  "description": "{{Description}}",
  "url": "{{current_url}}",
  "datePosted": "{{post.date}}",
  "dateModified": "{{post.modified}}",
  "hiringOrganization": {
    "@type": "Organization",
    "name": "{{homeName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_logo }}"
    }
  }
}
</script>
{% endif %}

{% if fn('is_singular') and post.post_type == 'projects' %}
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "CreativeWork",
  "name": "{{post.title}}",
  "description": "{{Description}}",
  "url": "{{current_url}}",
  "image": "{{thumbnail}}",
  "datePublished": "{{post.date}}",
  "dateModified": "{{post.modified}}",
  "publisher": {
    "@type": "Organization",
    "name": "{{homeName}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ site_logo }}"
    }
  }
}
</script>
{% endif %}

